# Système MacOS
.DS_Store
.Trash/
.CFUserTextEncoding

# Configuration utilisateur
.zsh_history
.zsh_sessions/
.zshrc
.bash_profile
.bashrc
.docker/
.gitconfig
.lemminx/
.local/
.netrc
.psql_history

# Dossiers de configuration
.CloudStation/
.cache/
.config/
.cups/
.eclipse/
.ganttproject/
.ganttproject.d/
.m2/
.mono/
.npm/
.oracle_jre_usage/
.p2/
.pgadmin/
.sts4/
.vscode/
.viminfo

# Fichiers de log
*.log
logs.txt

# Archives et fichiers temporaires
*.tar.gz
*.pem
*.swp

# Dossiers système
Applications/
Desktop/
Documents/
Downloads/
Library/

# Maven/Java
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Windows
Thumbs.db

# Security
*.jks
*.p12
*.key

# Autres dossiers utilisateur
Local Sites/
Movies/
Music/
Pictures/
Public/
apache-maven-3.8.6/
cypressProject/
index.html
logfile
mon-projet/
premier-programme/

