<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Catégories - JO Paris 2024</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Liste des Catégories</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
                <li><a th:href="@{/createCategory}">Créer une Catégorie</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Catégories Disponibles</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom de la Catégorie</th>
                    <th>Emplacement</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>
                    <td th:text="${category.location}"></td>
                    <td>
                        <a th:href="@{/categories/{id}(id=${category.id})}">Voir Détails</a> | 
                        <a th:href="@{/deleteCategory/{id}(id=${category.id})}">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <p>© 2024 Jeux Olympiques Paris</p>
    </footer>
</body>
</html>
