<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Créer un Événement - JO Paris 2024</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Créer un Événement</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
                <li><a th:href="@{/events}">Liste des Événements</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <form th:action="@{/createEvent}" method="post">
            <label for="eventName">Nom de l'Événement :</label>
            <input type="text" id="eventName" name="eventName" required>

            <label for="eventDate">Date de l'Événement :</label>
            <input type="date" id="eventDate" name="eventDate" required>

            <label for="description">Description :</label>
            <textarea id="description" name="description" required></textarea>

            <label for="categoryId">Catégorie :</label>
            <select id="categoryId" name="categoryId" required>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>

            <button type="submit">Créer Événement</button>
        </form>
    </div>

    <footer>
        <p>© 2024 Jeux Olympiques Paris</p>
    </footer>
</body>
</html>
