<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Événements</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/app.js}"></script>
</head>
<body>
    <header th:replace="fragments/body :: header"></header>

    <h1>Événements pour la catégorie sélectionnée</h1>

    <div>
        <h2>Sprint : 100m - 200m - 400m / Sauts en hauteur et en longueur</h2>
        <p>Description : Courses en relais, individuel et sauts</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/1/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Course en Skiff</h2>
        <p>Description : Course d'Aviron</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/3/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Nage libre / relais / marathon</h2>
        <p>Description : Courses de Natation</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/4/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Fleuret / Epée / Sabre</h2>
        <p>Description : Compétition d'Escrime classé en spécialités</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/5/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Gymnastique Artistique / Rythmique</h2>
        <p>Description : Compétition entre gymnastes selon leur spécialité</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/6/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Poids Plumes / Légers / Lourds</h2>
        <p>Description : Tournoi de boxe</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/7/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Classique ou 3 contre 3</h2>
        <p>Description : Tournoi de Basketball</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/8/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Matchs 11 contre 11</h2>
        <p>Description : Tournoi de Football</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/9/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Matchs classiques 7 contre 7</h2>
        <p>Description : Tournoi de Rugby</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/10/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Route / Piste / BMX / VTT</h2>
        <p>Description : Courses selon spécialités</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/11/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Matchs : Simple / Double</h2>
        <p>Description : Tournoi de Tennis</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/12/offers'}">Voir les offres</a>
    </div>
    <div>
        <h2>Matchs en Salle ou Beach Volley</h2>
        <p>Description : Tournoi de Volleyball</p>
        <p>Date : 2024-06-01</p>
        <a th:href="@{'/events/13/offers'}">Voir les offres</a>
    </div>

    <footer th:replace="fragments/body :: footer"></footer>
</body>
</html>
