<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur le site des Jeux Olympiques de Paris 2024</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/javascript/scripts.js}"></script>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <section>
        <h1>Bienvenue aux Jeux Olympiques Paris 2024</h1>
        <p>La cérémonie d'ouverture se tiendra le 26 Juillet 2024, à 18H sur tout le long de la Seine.</p>
    </section>
	
	<div class="video-presentation">
	    <h2>Découvrez les Jeux Olympiques Paris 2024</h2>
	    <p>Rejoignez-nous pour cet événement spectaculaire qui aura lieu au cœur de la ville de Paris, où des athlètes du monde entier se réuniront pour des performances inoubliables.</p>
	    <div class="video-container">
	        <iframe width="670" height="377" src="https://www.youtube.com/embed/JY_iDh8DpYc" 
	        title="'Welcome to the City of Love' | Paris 2024 Olympic Games | BBC launch film" 
	        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
	        gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
	        allowfullscreen></iframe>
	    </div>
		
	</div>
    <section>
        <h2>Rentrez Vous Aussi Dans L'Arène : </h2>
        <nav>
            <ul>
                <li><a href="/categories">Choisir sa Catégorie</a></li>
             
         
            </ul>
        </nav>
    </section>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
