<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails de l'Offre - JO Paris 2024</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Détails de l'Offre</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
                <li><a th:href="@{/offers}">Liste des Offres</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Offre ID: <span th:text="${offer.id}"></span></h2>
        <p><strong>Nom de l'Offre:</strong> <span th:text="${offer.name}"></span></p>
        <p><strong>Nombre de Places:</strong> <span th:text="${offer.numberOfSeats}"></span></p>
    </div>

    <footer>
        <p>© 2024 Jeux Olympiques Paris</p>
    </footer>
</body>
</html>
