<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Récapitulatif de la commande</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <!-- Inclusion du header -->
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="container">
        <h1>Récapitulatif de la commande</h1>
        <h2>Événement : <span th:text="${event.eventName}"></span></h2>
        <p>Date : <span th:text="${event.eventDate}"></span></p>
        <p>Lieu : <span th:text="${event.location}"></span></p>

        <h3>Offre sélectionnée : <span th:text="${offer.name}"></span></h3>
        <p>Description de l'événement: <span th:text="${event.description}"></span></p>

        <h4>Total : <span th:text="${totalAmount}"></span> €</h4>

        <form action="/confirm-order" method="post">
            <button type="submit">Confirmer la commande</button>
        </form>
    </div>

    <!-- Inclusion du footer -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <!-- Inclusion des scripts -->
    <script th:src="@{/javascript/scripts.js}"></script>
</body>
</html>
