<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de paiement</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header th:replace="fragments/body :: header"></header>

    <h1>Confirmation du paiement</h1>

    <p th:text="'Paiement confirmé ! Vos billets ont été envoyés à l'adresse email : ' + ${order.user.email}"></p>

    <h2>Détails de l'événement</h2>
    <p>Événement : <span th:text="${event.eventName}">Nom de l'événement</span></p>
    <p>Date : <span th:text="${#temporals.format(event.eventDate, 'dd-MM-yyyy')}">Date de l'événement</span></p>
    <p>Lieu : <span th:text="${event.location}">Lieu de l'événement</span></p>

    <h2>Billets</h2>
    <ul>
        <li th:each="ticket : ${tickets}">
            Ticket pour <span th:text="${ticket.offer.name}">Offre</span> - 
            Quantité : <span th:text="${ticket.quantity}">1</span>
        </li>
    </ul>

    <footer th:replace="fragments/body :: footer"></footer>
</body>
</html>
