<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de paiement</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <h1>Félicitations, Paiement Confirmé !</h1>

    <p>Paiement confirmé ! Veuillez re-confirmer votre email pour recevoir vos billets.</p>

    <form action="/send-tickets" method="post">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Envoyer les tickets</button>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
