<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails de la Transaction - JO Paris 2024</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Détails de la Transaction</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
                <li><a th:href="@{/transactions}">Liste des Transactions</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Transaction ID: <span th:text="${transaction.id}"></span></h2>
        <p><strong>Type de Transaction:</strong> <span th:text="${transaction.transactionType}"></span></p>
        <p><strong>Statut:</strong> <span th:text="${transaction.transactionStatus}"></span></p>
        <p><strong>Date:</strong> <span th:text="${#dates.format(transaction.transactionDate, 'dd/MM/yyyy HH:mm')}"></span></p>
    </div>

    <footer>
        <p>© 2024 Jeux Olympiques Paris</p>
    </footer>
</body>
</html>
