<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Utilisateurs - JO Paris 2024</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Liste des Utilisateurs</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
                <li><a th:href="@{/createUser}">Ajouter un Utilisateur</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Utilisateurs Actuels</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <a th:href="@{/editUser(email=${user.email})}">Modifier</a>
                        <a th:href="@{/deleteUser(email=${user.email})}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <p>© 2024 Jeux Olympiques Paris</p>
    </footer>
</body>
</html>
